<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>headerCellClass</key>
				<string>RXHeaderCell</string>
				<key>identifier</key>
				<string>me.renai.panic</string>
				<key>bundleName</key>
				<string>PanicPreferences</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>cellClass</key>
				<string>RXCreditCell</string>
				<key>user</key>
				<string>Renaitare</string>
				<key>height</key>
				<integer>60</integer>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Settings</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<true/>
				<key>defaults</key>
				<string>me.renai.panic</string>
				<key>key</key>
				<string>safemode_enabled</string>
				<key>label</key>
				<string>Safemode Enabled</string>
				<key>PostNotification</key>
				<string>me.renai.panic/options.update</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<true/>
				<key>defaults</key>
				<string>me.renai.panic</string>
				<key>key</key>
				<string>respring_enabled</string>
				<key>label</key>
				<string>Respring Enabled</string>
				<key>PostNotification</key>
				<string>me.renai.panic/options.update</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>detail</key>
				<string>PXSequenceController</string>
				<key>defaults</key>
				<string>me.renai.panic</string>
				<key>key</key>
				<string>safemode_sequence</string>
				<key>PostNotification</key>
				<string>me.renai.panic/options.update</string>
				<key>label</key>
				<string>Safemode Sequence</string>
				<key>isController</key>
				<true/>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>detail</key>
				<string>PXSequenceController</string>
				<key>defaults</key>
				<string>me.renai.panic</string>
				<key>key</key>
				<string>respring_sequence</string>
				<key>PostNotification</key>
				<string>me.renai.panic/options.update</string>
				<key>label</key>
				<string>Respring Sequence</string>
				<key>isController</key>
				<true/>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerText</key>
				<string>Made with ❤️ by Renaitare</string>
				<key>footerAlignment</key>
				<string>1</string>
			</dict>
		</array>
		<key>title</key>
		<string>Panic!</string>
	</dict>
</plist>
